/* CSS Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Custom Font */
@font-face {
    font-family: "Norse";
    src: url(/fonts/Norse-Bold.otf);
}


/* Font and CSS Variable*/

:root {
    font-family: Arial, Helvetica, sans-serif;
    --bg-light: #F9FAFB;
    --bg-dark: #0E0E0E;
    --bg-btn: #596D48;
    --font-light: #FFFFFF;
    --bd-color: #E5E7EB;
    --focus-color: #20A0B1;
    --error-color: #E74C3C;
    --round: 10px;
    --shadow: 10px 10px 10px rgba(0,0,0, 0.4);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-light);
}

main {
    height: 71vh;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    margin: 0 2rem;

    border-radius: var(--round);
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
}

/* Logo section */

section.logo-wrapper {    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    max-width: 400px;
    
    background: url(/img/halie-west-25xggax4bSA-unsplash.jpg) center center no-repeat;
    background-size: cover;
    border-radius: var(--round) 0 0 var(--round);
}

footer.bg-credit {
    position: absolute;
    bottom: 20px;
    padding: 0.5rem;

    font-size: 0.7rem;
    text-align: center;
    color: var(--font-light);
}

footer.bg-credit a {
    color: var(--font-light);
}

div.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-top: 10rem;
    padding: 0.5rem;
    
    background-color: var(--bg-dark);
    opacity: 0.7;
    font-family: "Norse";
    font-size: 4rem;
    color: var(--font-light);
}

.logo-img {
    width: 60px;
    height: auto;
}

/* Form section*/

section.form-wrapper {
    max-width: 600px;

    border-radius: 0 var(--round) var(--round) 0;
    background-color: var(--bg-light);
}

div.form-text {
    width: auto;
    margin: 6rem 2rem 1rem 2rem;
    padding: 1rem;

    text-align: start;
}

.text p,
.button-area p,
button {
    font-size: 1rem;
    font-weight: bold;
}

div.form-container p {
    margin-bottom: 2rem;
}

/* Normalize widgets */
input, 
button {
    width: 200px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Labels above inputs*/
.widget-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Layout 2 X 3 */
.widget-pair {
    display: flex;
    justify-content: space-between;
}

.inputs-area {
    padding: 1rem 3rem;
    
    background-color: var(--font-light);
    box-shadow: 5px 5px 5px rgba(0,0,0, 0.1);
}

label {
    margin-bottom: 0.1rem;

    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
}

input {
    border: 1px solid var(--bd-color);
}

input:focus {
    outline: var(--focus-color);
    border: 2px solid var(--focus-color);
}

input[type="password"].error {
    border: 2px solid var(--error-color);
}

span.error-message {
    color: var(--error-color); 
}

.button-area {
    padding-left: 3rem;
}

button {
    margin: 2rem 0;
    padding: 0.5rem 1rem;

    border-radius: var(--round);
    color: var(--font-light);
    background-color: var(--bg-btn);
    border: none;
    box-shadow: var(--shadow) ;
}

.button-area a {
    color: var(--bg-btn);
}
